In [1]:
import pandas as pd
import numpy as np

In [8]:
# Replace a column with Ordinal or integer dictionary

df = pd.DataFrame([
    {"name":"JACK", "dept": "IT"},
    {"name":"MICK", "dept": "HR"},
    {"name":"LEENA", "dept": "FINANCE"},
    {"name":"HARVEY", "dept": "IT"},
    {"name":"DONNA", "dept": "IT"},
    {"name":"JESSICA", "dept": "HR"}
])

print(df)

dept = {"IT": 1, "HR": 2, "FINANCE": 3}
df["dept_ordinal"] = df.dept.map(dept)

df

      name     dept
0     JACK       IT
1     MICK       HR
2    LEENA  FINANCE
3   HARVEY       IT
4    DONNA       IT
5  JESSICA       HR

      name     dept  dept_ordinal
0     JACK       IT             1
1     MICK       HR             2
2    LEENA  FINANCE             3
3   HARVEY       IT             1
4    DONNA       IT             1
5  JESSICA       HR             2