In [11]:
# Variable Scope
a = 10 

def display():
    a = 5
    print(a)
    
def display2():
    global a
    a = 12
    print(a)
    
    
display()
print(a)
display2()
print(a)

5
10
12
12

In [1]:
a = 10
def outer1(): 
    a = 20
    def inner():
        nonlocal a  
        a = 30
        print(a)
        
    inner() 
    print(a) 
  
outer1()
print(a)

30
30
10

# Arithmetic Operators

In [3]:
# Addition
3 + 5

8

In [4]:
# Subtraction
7 - 2

5

In [6]:
# Multiplication
3 * 22

66

In [9]:
# Division
print("33 / 7 = ", 33/7)
print("33 // 7 = ", 33//7) # Integer division
print("33 % 7 = ", 33%7) # Reminder

33 / 7 =  4.714285714285714
33 // 7 =  4
33 % 7 =  5

In [10]:
# String Arithmetic Operations
"First" + "Second"

'FirstSecond'

In [12]:
"repeat" * 5

'repeatrepeatrepeatrepeatrepeat'

# Comparison Operators

In [13]:
print (45 > 15)
print (45 < 15)
print (45 == 15)

True
False
False

In [15]:
print (45 > 35 > 25)
print (45 < 35 > 25)

True
False

# Logical Operator

In [17]:
# AND operator: Returns first False value; If nothing found, return the last value
print (False and True)
print (True and False)
print (35 and 15)
print (15 and 100 and 1)
print (0 and 15)
print (45 and 0 and 15)
print (15 and 10 and 0)

False
False
15
1
0
0
0

In [21]:
# OR operator: Returns first True value; If nothing found, return the last value
print (False or True)
print (False or True or False)
print (35 or 15)
print (15 or 100 or 1)
print (0 or 15)
print (45 or 0 or 15)
print (15 or 10 or 0)

True
True
35
15
15
45
15

# Variable names in Python

### Variable names are case sentitive. 'A' is different from 'a'

In [22]:
A = 5
a = 10
print(A,a)

5 10

### Variable names cannot start with special char except underscore(_)

In [24]:
@A = "test"

SyntaxError: invalid syntax (<ipython-input-24-a969395b2005>, line 1)

In [26]:
_A = "test"

### Variable names cannot start with a Number

In [28]:
1A = "test"

SyntaxError: invalid syntax (<ipython-input-28-e5db5a60c276>, line 1)

In [29]:
# Variable Assignment
a = 5
b = a
a = 11
print(a,b)

11 5

# Data Types

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

In [54]:
print(type(10))
print(type(10.45))
print(type(3 + 1j))
print(type(True))
print(type("A"))
print(type("This is a sentence"))
print(type([1,2,3]))
print(type((1,2,)))
print(type(range(5)))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'range'>

# Conditional Statements

In [56]:
# IF - ELIF - ELSE Statement
x = 5
if (x < 5):
    print ("Less than five")
elif (x > 5):
    print ("Greater than five")
else:
    print("Equal to five")

Equal to five

In [59]:
x = 10
if (x % 2 > 0):
    print("Odd")
else:
    print("even")

even

# Looping Structure

In [64]:
# For loop
for i in range(5):
    if i % 2 == 0:
        print("{0} is a {1} number".format(i, "even"))
    else:
        print("{0} is a {1} number".format(i, "odd"))

0 is a even number
1 is a odd number
2 is a even number
3 is a odd number
4 is a even number

In [68]:
for i in set("THIS IS A LINE"):
    print(i)

S

N
T
L
E
I
A
H

In [72]:
# Printing Odd numbers between 10 to 50
for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49