In [6]:
import pandas as pd
import numpy as np

### Scaling

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
data = np.random.randint(0,100, (10,2))
data

array([[15, 25],
       [94, 11],
       [88, 70],
       [79, 21],
       [17, 37],
       [26, 37],
       [ 5, 82],
       [78, 43],
       [55,  8],
       [85, 41]])

In [7]:
mm = MinMaxScaler()
data_en = mm.fit_transform(data)
data_en

array([[0.11235955, 0.22972973],
       [1.        , 0.04054054],
       [0.93258427, 0.83783784],
       [0.83146067, 0.17567568],
       [0.13483146, 0.39189189],
       [0.23595506, 0.39189189],
       [0.        , 1.        ],
       [0.82022472, 0.47297297],
       [0.56179775, 0.        ],
       [0.8988764 , 0.44594595]])

### Train Test Split

In [28]:
df = pd.DataFrame(np.random.randint(0,100, (100,4)), columns=list("ABCL"))

In [29]:
df.shape

(100, 4)

In [30]:
df.head()

    A   B   C   L
0  97  70  40  99
1  12  43  24  63
2  71  21  75  61
3  60  96  28  66
4   6   2  42  73

In [31]:
X = df[["A", "B", "C"]]
y = df["L"]

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [34]:
X_train.shape

(70, 3)

In [35]:
X_test.shape

(30, 3)